/* add home page styles here */

.render:hover {
    cursor: grab;
}

.render {
border: solid 1px pink;
padding: 10px;
}

.workshop {
    border: solid 1px lightblue;
    margin: 10px;
    min-height: 200px;
    padding: 10px;
}

.hide {
    display: none;
}